<form method="POST">
    <input type="hidden" type="text" name="new_playlist">
    <button style="display: block; width: 100%; height: 10%; font-size: 100%;" type="sumit">Find New Playlist</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="play">
    <button style="display: block; width: 100%; height: 10%; font-size: 100%;" type="sumit">Play</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="pause">
    <button style="display: block; width: 100%; height: 10%;, font-size: 100%;" type="sumit">Pause</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="switch_one_on">
    <button style="display: block; width: 100%; height: 10%;, font-size: 100%;" type="sumit">Christmas ON</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="siwtch_one_off">
    <button style="display: block; width: 100%; height: 10%;, font-size: 100%;" type="sumit">Christmas OFF</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="switch_two_on">
    <button style="display: block; width: 100%; height: 10%;, font-size: 100%;" type="sumit">Lights ON</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="switch_two_off">
    <button style="display: block; width: 100%; height: 10%;, font-size: 100%;" type="sumit">Lights OFF</button>
</form>

