<form method="POST">
    <input type="hidden" type="text" name="new_playlist">
    <button style="display: block; width: 100%; height: 25%;" type="sumit">Find New Playlist</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="play">
    <button style="display: block; width: 100%; height: 25%;" type="sumit">Play</button>
</form>

<form method="POST">
    <input type="hidden" type="text" name="pause">
    <button style="display: block; width: 100%; height: 25%;" type="sumit">Pause</button>
</form>
